@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dancing Script",cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  width: 100vw;
  position: relative;
  min-width: 950px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 400px;
}


#quote {
  width: 800px;
    height: 300px;
    background-image: url(../public/images/board.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 90px;
    position: relative;
    color: #441518;
}

#remind {
  background-image: url('../public/images/mini-board.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 115px;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 200px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #441518;
}
.refresh {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  color: #441518;
}
.refresh:hover {
  color: #F9D3B7;
}
